.cards{
    padding: 0px; 
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: left;
    -webkit-scrollbar: none;
    -webkit-user-drag: auto;
    margin: 20px;
    -webkit-user-drag: auto;
    user-select:none;
   
}
::-webkit-scrollbar {
    display: none;
  }
.cards .card{
    margin: 20px;
}
@media (max-width: 600px) {
    .cards{
        justify-content: left;
        padding: 0px; 
        margin: 0px;
    }
}