@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400;900&family=Poppins:wght@100;200;300;400;500&family=Potta+One&display=swap");
.navbar {
  background: #002;
  padding: 0px;
  font-family: "DynaPuff", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.329);
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.logo {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-name {
  font-weight: 500;
  font-size: 30px;
  margin-right: 40px;
  color: rgb(255, 255, 255);
  font-family: "DynaPuff", cursive;
 
}
#menu {
  display: none;
}
.logo label {
  margin-right: 20px;
  color: rgb(255, 255, 255);
}
.links {
  display: flex;
  flex-direction: row;
}
.links a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  margin: 10px 10px;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.links a:hover {
  color: rgb(236, 65, 100);
  font-weight: bold;
}
.search-bar{
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.363);
}
.search-bar i{
  position: absolute;
  left: 12px;
}
.search-bar input {
  outline: none;
  order: none;
  font-size: 17px;
  padding: 5px;
  padding: 10px 2px 10px 35px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.103);
  color: #fff;
  border-radius: 50px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.63); */
}
.mobile-search {
  display: none;
}
.desktop-search {
  display: block;
}

#kid {
  font-size: 20px;
  font-weight: Bold;
  color: rgb(220, 20, 60);
}
#kid:hover {
  color: rgb(184, 0, 37);
}
.subscribe {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: rgb(35, 100, 240);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s ease;
}
.subscribe:hover {
  background-color: rgb(23, 80, 202);
}
.login{
  margin-right: 10px;
}

.logo label {
  position: relative;
}
.burger1,.burger2,.burger3{
  width: 25px;
  height: 5px;
  background-color: #fff;
  display: block;
  margin: 5px 1px;
  border-radius: 50px;
}
.burger2{
  width: 35px;
}
#burger{
  background-color: #004;
  padding: 8px;
}
/* -------------------------------------------------- */

@media (max-width: 1295px) {
  .navbar {
    background: #002;
    padding: 0px;
    font-family: "DynaPuff", cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
  }
  .logo-name {
    font-size: 20px;
    margin-right: 10px;
  }
  .burger1,.burger2,.burger3{
    width: 25px;
    height: 4px;
    background-color: #fff;
    display: block;
    margin: 5px 1px;
    border-radius: 50px;
  }
  .burger2{
    width: 35px;
  }
  .login-subs{
    display: none;
  }
}

@media (max-width: 1000px) {
  .login-subs{
    display: block;
  }
  .mobile-search {
    display: block;
  }
  .desktop-search {
    display: none;
    height: 0vh;
  }

  .logo {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    user-select: none;
  }

  .links {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .links {
    display: none;
    padding: 5px 50px;
    margin-top: 30px;
    transition: all 1s ease;
  }
  .logo-name {
     font-weight: 500;
    font-size: 20px;
    margin-right: 0px;
    margin-top: 15px;
    padding: 20px ;
    color: #fff;
    font-family: "DynaPuff", cursive;
    
  }
  #burger {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 40px;
    color: #fff;
  }

  a {
    color: #fff;
    transition: all 1s ease;
  }
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    position: relative;
  }
  .search-bar input {
    outline: none;
    order: none;
    font-size: 17px;
    padding: 10px 2px 10px 39px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.103);
    color: #fff;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 2px;
  
  }
  #menu:checked ~ .links {
    display: flex;
    flex-direction: column;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }
  #menu:checked ~ .search-bar input {
    display: block;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  #menu:checked ~ label .burger2{
    position: relative;
    transition: all 1s ease;
    transform: translateX(-300px);
    position: absolute;
    top: 22.5px;
    width: 45px;
    height: 5px;
  
    
  }
  #menu:checked ~ label .burger1{
    transition: all .5s ease-in-out;
    transform: rotate(45deg);
    margin: 0px 0px;
    position: absolute;
    top: 25px;
    width: 35px;
    height: 5px;
  }
  #menu:checked ~ label .burger3{
    width: 35px;
    height: 5px;
    transition: all .5s ease;
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
  }
  #menu:checked ~   #burger{
    background-color: rgba(0, 0, 68, 0);
    padding: 8px;
  }

  #burger:hover{
    background-color: #004;
    padding: 8px;
  }

  /* #menu:checked ~ #burger {
    transition: all 1s ease;
    transform: rotate(360deg);
  } */
  .login-subs{
    margin: 10px 10px 10px 10px;
  }

  .fa-solid{
    position: absolute;
    top: 30px;
    left: 0px;
  }
  .fa-light{
    position: absolute;
    top: px;
    left: 0px;
  }



}
@media (max-width: 600px) {
#burger{
  left: 10px;
}
}
