.posters {
  margin: 10px;
}
.posters img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.posters img:hover {
  transition: all .5s ease;
  cursor: pointer;
  transform: scale(1.04);
}
@media (max-width: 600px) {
  .posters img {
    width: 300px;
    height: 430px;
    object-fit: cover;
    border-radius: 10px;
  }
}
