@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400;900&family=Poppins:wght@100;200;300;400;500&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
.App {
 
  text-align: center;
}

body{
  color: rgb(255, 255, 255);
 font-family: 'Poppins', sans-serif;
 background: #002;
}
.carousel{
  margin: 20px 20px;
}
p{
  margin-left: 50px;
  text-align: left;
  font-size: 30px;
  font-family: 'DynaPuff', cursive;
}
.cards{
  margin: 20px 40px;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  margin-bottom: 50px;

}
h1,h2{
  text-align: left;
  margin-left: 50px;
  font-family: 'DynaPuff', cursive;
}
html{
  scroll-behavior: smooth;
}
@media (max-width: 600px) {
  .carousel{
    margin: 20px 0px;
  }
  p{
    margin-left: 0px;
    text-align: center;
  }
  .cards{
    margin: 0px;
    display: flex;
    justify-content: left;
    overflow-x: auto;
    margin-bottom: 50px;
  
  }
}